USE [db_demo_trois_tiers]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2023-09-07 8:24:06 PM ******/
DROP TABLE IF EXISTS [dbo].[Users]
GO
USE [master]
GO
/****** Object:  Database [db_demo_trois_tiers]    Script Date: 2023-09-07 8:24:06 PM ******/
DROP DATABASE IF EXISTS [db_demo_trois_tiers]
GO
/****** Object:  Database [db_demo_trois_tiers]    Script Date: 2023-09-07 8:24:07 PM ******/
CREATE DATABASE [db_demo_trois_tiers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_demo_trois_tiers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022DEV\MSSQL\DATA\db_demo_trois_tiers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_demo_trois_tiers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022DEV\MSSQL\DATA\db_demo_trois_tiers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_demo_trois_tiers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_demo_trois_tiers]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2023-09-07 8:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
